{% include "partials/head.njk" %}
{% include "partials/header.njk" %}
{% from "partials/teaser.njk" import teaser with context %}

<div class="index__wrap">
  <div class="index__content">
      {{ content | safe }}
      {% include "partials/teasers-featured.njk" %}
  </div>
</div>

    
{% include "partials/footer.njk" %}