{% include "partials/head.njk" %}
{% include "partials/header.njk" %}
<article class="page__wrapper">
  <div class="page__header">
    <h1 class="page__heading">{{title}}</h1>
    {% if lede %}<p class="page__lede">{{lede}}</p>{% endif %}
    <div class="page__header-share">{% include "partials/share.njk" %}</div>
  </div>
  <div class="page__columns">
    <div class="page__content formatted-content">
      {% if(image) %}
      <div class="page__image ratio ratio--16x9">
        <img src="{{image}}" alt="{{imageAlt}}" />
      </div>
    {% endif %}
        {{ content | safe }}
    </div>
    <div class="page__sidebar">
      {% include "partials/sidebar.njk" %}
    </div>
  </div>
</article>
{% include "partials/footer.njk" %}