<aside>
  <a class="twitter-timeline" data-lang="en" data-dnt="true" href="https://twitter.com/SkylinesTimes/lists/cities-skylines?ref_src=twsrc%5Etfw">A Twitter List by SkylinesTimes</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</aside>