.grid {
  @media (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    & > * {
      width: calc(50% - 0.5em);
    }

    // Scale interfaces down so they fit side by side
    @media (max-width: 800px) {
      .ratio iframe {
        transform-origin: left top;
        transform: scale(0.5);
        width: 200%;
        height: 200%;
      }
    }
  }
}
