.page {
  &__wrapper{
    margin: 0 auto;
    max-width: calc(var(--siteWidth) + 16em);
    padding: 0 1em;
  }
  @media (min-width: 800px){
    &__wrapper{
      display: flex;
    }
    &__content{
      width: var(--siteWidth);
    }
    &__sidebar{
      flex:1;
      margin-left:1em;
    }
  }
}