.share {
  &__fb {
    fill: #3b5998;
  }
  &__twitter {
    fill: #00acee;
  }

  &__native:not(&__native--active) {
    display: none;
  }

  &__link {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
      background-image: var(--linkLightBackground);
      path {
        fill: white;
      }
    }
    &:active {
      opacity: 0.8;
    }
  }
}
