<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{title}} - {% endif %}{{site.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{site.assetRoot}}/index.css" />
    <script async src="{{site.assetRoot}}/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="feed" type="text/html" title="{{site.title}}" href="/feed.xml" />
    <meta name="description" content="{{description | default(site.description)}}">
    {% include "partials/head-twitter.njk" %}
    {% include "partials/head-facebook.njk" %}
    {% include "partials/head-analytics.njk" %}
    
  </head>
  <body>