<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Skylines News</title>
    <link rel="stylesheet" type="text/css" href="{{data.assetRoot}}/index.css" />
    <script async src="/index.js"></script>
  </head>
  <body>
    <h1>Skylines News</h1>