<section>
  <ul class="index__main-teasers">
    <li class="index__teaser-wide">
      {{ teaser(collections.posts.slice(-1)[0], size='large', author=true, text=true ) }}
    </li>
  
  {% for post in collections.posts.slice(0, collections.posts.length-1)|reverse %}
      <li class="index__teaser-half">
        {{ teaser(post, size='medium') }}
      </li>
  {% endfor %}
  </ul>
</section>